/target
.direnv
.idea
result
.DS_Store
.pre-commit-config.yaml
*.a
*.o
*.so
*.exe
*.test
*.prof
bin/
pkg/

dist/
artifacts
sample# Added by goreleaser init:
.intentionally-empty-file.o
target/
sample/
IncrementalChangelog.md